@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap');


body{
    background-color:rgb(0, 0, 0);
}
#nav{
    background-color:rgb(51, 90, 197);
}
